<ion-view view-title="Matches">
    <ion-content>
        <div class="bar bar-header bar-dark">
            <h1 class="title">Last Match</h1>
            <button class="button button-stable">Reload</button>
        </div>

        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Map Variant</h2>
                <p>Date</p>
                <p>Place</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Map Variant</h2>
                <p>Date</p>
                <p>Place</p>
            </a>
        </div>

        <div class="bar bar-footer bar-balanced">
            <div class="title">Footer</div>
        </div>

    </ion-content>
</ion-view>
